<!-- @author Armanjeet singh 3136363  -->
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="background">
    <h1 class="header">{{ milestones }}</h1>
    <div class="divider"></div>

    <div class="flex-container">
      <div class="flex-item">
        <h4>In year {{ year }}</h4>
        <h4>{{ title }}</h4>
        <a href="/?milestone={{ next }}">Next milestone: {{ next }}</a>
      </div>
      <div class="flex-item">
        <img src="p2.jpg" alt="Picture">
      </div>
    </div>
  </body>
</html>
